.productlist-container {
    display: flex;
    justify-content: center;
  }
  
  .product-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .product-card {
    display: flex;
    width: 800px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  }

  .btn-parent {
   width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .product-btn {
    background-color: #edb10ed2;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-left: 2rem;
  }
  .product-btn:hover {
    background-color: #ffbb00;
  }

.delete-btn {
  background-color: #f05c51;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  transition: ease-in-out 0.2s;
}
.delete-btn:hover {
  background-color: #f44336!important;
}
.delete-btn:active {
  background-color: #ff1100!important;
  color: black!important;
}
.deleting {
  color: black;
}

.Parent-add-product-btn {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem;
}
.add-product-btn {
  background-color: #4caf50;
  border: none;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-size: 5rem;
  color: #fff;
  transition: ease-in-out 0.2s;
}
.add-product-btn:hover {
  background-color: #388e3c;
}

  .details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    flex: 1;
    padding: 0 2rem;
  }
  
  .img {
    text-align: center;
    /* flex: 1; */
  }
  
  .img img {
    object-fit: cover;
    height: 100px;
    width: 100px;
  }

  .product-h1 {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 2rem;
  }

  .product-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .description-textarea {
    width: 50%;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    resize: none;
  }

  



  
  