.homepage {
    position: relative;
    /* background-image: url('/path/to/your/image.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100vw;
  }
  
  .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
  }

  .heading {
    text-decoration: none;
    color: #ff0000;
    font-size: 5rem;
  }
  