.add-product-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .add-product-form {
    display: flex;
    flex-direction: column;
  }
  
  .add-product-form label {
    margin-bottom: 8px;
  }
  
  .add-product-form input,
  .add-product-form textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-product-form button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
  
  /* .add-product-form button:hover {
    background-color: #45a049;
  } */

  .submit-btn:hover {
    background-color: #4caf50  !important
  }
  